body {
    background-color: #798F5B;
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100%;
    background-color: #000000
}

.image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.header  {
    color: rgb(255,255,255)
}

.center {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
}
/* centering our image and header */

.header .center{ 
    padding: 10px
}

hr {
    width: 50%
}

.itallic {
    font-style: italic
}
